*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 20px 5% 0 !important;
}

.login{
    border: 1px solid #4d4cff;
    border-radius: 5px;
    padding: 6px 25px !important;
    color: #4d4cff !important;
    background-color: #fff !important;
    font-weight: 600 !important;
    margin: 5px 20px 0 0;
    width: 110px;
}
.login:hover{
    color: #fff !important;
    background-color: #4d4cff !important;
}
.register{
    border: 1px solid #4d4cff;
    border-radius: 5px;
    padding: 6px 25px !important;
    color: #fff !important;
    background-color: #4d4cff !important;
    font-weight: 600 !important;
    margin: 5px 20px 0 0;
    width: 115px;
}
.register:hover{
    color: #4d4cff !important;
    background-color: #fff !important;
}
.visit{
    border: 1px solid #4d4cff;
    border-radius: 5px;
    padding: 6px 25px !important;
    color: #fff !important;
    background-color: #4d4cff !important;
    font-weight: 600 !important;
    width: 140px;
    margin-top: 50px;
}

.details h1{
    padding-top: 90px;
    font-weight: 700;
    font-size: 50px;
}

.details p{
    color: #aaaaad;
    padding-top: 50px;
    font-size: 18px;
}

.image4{
    margin-top: 150px;
    padding: 15px;
}

.features{
    padding-top: 100px;
    justify-content: center !important;
}
.feature-card{
    justify-content: center !important;
    /* align-items: center; */
    padding-top: 50px;
}
.features-img{
    padding: 60px;
}
.paraf{
    width: 100%;
    color: #000;
    font-weight: 600;
    padding-bottom: 30px;
}

.newsletter{
    margin-top: 250px;
}

.form-control{
    padding-top: 10px !important;
    padding-right: 150px !important;
    padding-bottom: 10px !important;
}
.btn{
    padding: 10px 60px !important;
    font-weight: 700 !important;
    background-color:  #4d4cff !important;
}
.btn:hover{
    color: #4d4cff !important;
    background-color: #fff !important;
}

form{
    margin: 20px 0 40px!important;
}

.icon{
    padding: 10px;
}

footer p{
    font-size: 12px;
    padding-top: 20px;
}